<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.18/c3.css"
    />
    <title>dashBoard</title>
  </head>
  <body>
    <%- include('./layout/header', {page: "dashBoard"}); -%>
    <section class="wrap">
      <div
        class="section-title d-flex justify-content-center align-items-center"
      >
        <h2 class="mb-0 me-3" data-chart="products">全品項營收比重</h2>
        <button
          type="button"
          id="chartToggleBtn"
          class="btn btn-sm btn-primary"
        >
          切換
        </button>
      </div>
      <div id="chart"></div>
    </section>
    <section class="wrap orderPage-list">
      <a href="#" class="discardAllBtn">清除全部訂單</a>
      <div class="orderTableWrap">
        <table class="orderPage-table">
          <thead>
            <tr>
              <th>訂單編號</th>
              <th>聯絡人</th>
              <th>聯絡地址</th>
              <th>電子郵件</th>
              <th>訂單品項</th>
              <th>訂單日期</th>
              <th>訂單狀態</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.18/c3.js"></script>
    <script type="module">
      import axios from 'axios';

      const HexApi='https://livejs-api.hexschool.io/';
      const apiPath='yameow999';
      const adminApi=`${HexApi}api/livejs/v1/admin/${apiPath}`;
      const adminToken='vruPjVITW7PaX7ruCuJr2t744jk2';
      const adminAuthz={
              headers:{
                authorization:adminToken
              }
            }

      function init(){
        getOrder();
      }

      //get order
      let ordersData=new Array;
      const getOrder=async()=>{
        try {
          const res=await axios.get(`${adminApi}/orders`,adminAuthz);
          console.log(res.data);
          ordersData=res.data.orders;
          renderTable(ordersData);
          renderChart(ordersData,formatProduct);
        } catch (error) {
          console.log(error);
        }
      }

      //delete order
      const deleteAll=async()=>{
        try {
          const res=await axios.delete(`${adminApi}/orders`,adminAuthz);
          ordersData=res.data.orders;
          renderTable(ordersData);
          renderChart(ordersData,formatProduct);
        } catch (error) {
          console.log(error.message);
        }
      }

      const deleteOrder=async(id)=>{
        try {
          const res=await axios.delete(`${adminApi}/orders/${id}`,adminAuthz);
          ordersData=res.data.orders;
          renderTable(ordersData);
          renderChart(ordersData,formatProduct);
        } catch (error) {
          console.log(error);
        }
      }

      //update order
      const updateOrder=async(id)=>{
        let targetOrder=ordersData.filter(order=>order.id===id);
        let status=targetOrder[0].paid;
        let updateData={
          data:{
            id,
            paid:!status
          }
        }
        try {
          const res=await axios.put(`${adminApi}/orders`,updateData,adminAuthz);
          ordersData=res.data.orders;
          renderTable(ordersData);
        } catch (error) {
          console.log(error);
        }
      }

      //format data
      const formatTime=(timestamp)=>new Date(timestamp*1000).toLocaleDateString();

      const formatProductCategory=(data)=>{
        let formatData=new Object;
        data.forEach(order=>{
          let products=order.products;
          products.forEach(product=>{
            const {category,price,quantity}=product;
            if(!formatData[category]){
              formatData[category]=price*quantity;
            }else{
              formatData[category]+=price*quantity;
            }
          })
        })
        return Object.entries(formatData)
      }
      const formatProduct=(data)=>{
        let formatData=new Object;
        data.forEach(order=>{
          let products=order.products;
          products.forEach(product=>{
            const {title,price,quantity}=product;
            if(!formatData[title]){
              formatData[title]=price*quantity;
            }else{
              formatData[title]+=price*quantity;
            }
          })
        })
        return sortData(Object.entries(formatData));

      }
      const sortData=(data)=>{
        let rankData=new Array;
        let othersData=0;
        data.sort((a,b)=>b[1]-a[1]);
        console.log(data);
        data.forEach((item,index)=>{
          if(index<=2){
            rankData.push(item);
          }else{
            othersData+=item[1];
          }
        })
        rankData.push(['其他',othersData]);
        return rankData;
      }


      //渲染
      //table
      const orderTable=document.querySelector('.orderPage-table');
      const orderTableBody=orderTable.querySelector('tbody');
      const renderTable=(orders)=>{
        orderTableBody.innerHTML='';
        orders.forEach(order => {
          let {id,user,products,createdAt,paid}=order;
          createOrdersTable(id,user,products,createdAt,paid);
        });
      }

      const createOrdersTable=(id,user,products,time,status)=>{
        let orderTableRow=document.createElement('tr');
        orderTableRow.dataset.id=`${id}`;
        let orderId=document.createElement('td');
        orderId.textContent=`${id}`;

        let orderPerson=document.createElement('td');
        let orderPersonName=document.createElement('p');
        orderPersonName.textContent=`${user.name}`;
        let orderPersonTel=document.createElement('p');
        orderPersonTel.textContent=`${user.tel}`;
        orderPerson.appendChild(orderPersonName);
        orderPerson.appendChild(orderPersonTel);

        let orderAddress=document.createElement('td');
        orderAddress.textContent=`${user.address}`;

        let orderEmail=document.createElement('td');
        orderEmail.textContent=`${user.email}`;

        let orderContent=document.createElement('td');
        products.forEach((product,index)=>{
          let orderContentName=document.createElement('p');
          orderContentName.textContent=`${index+1}. ${product.title}x${product.quantity}`;
          orderContent.appendChild(orderContentName);
        })

        let orderDate=document.createElement('td');
        let date=formatTime(time);
        orderDate.textContent=`${date}`;

        let orderStatus=document.createElement('td');
        orderStatus.classList.add('orderStatus');
        let orderStatusLink=document.createElement('a');
        orderStatusLink.classList.add('orderStatusBtn');
        orderStatusLink.href=`#`;
        if(!status){
          orderStatusLink.textContent=`未處理`;
          orderStatusLink.style.color='red';
        }else{
          orderStatusLink.textContent=`已處理`;
          orderStatusLink.style.color='green';
        }
        orderStatus.appendChild(orderStatusLink);

        let orderDelete=document.createElement('td');
        let delSingleOrderBtn=document.createElement('input');
        delSingleOrderBtn.type='button';
        delSingleOrderBtn.classList.add('delSingleOrder-Btn');
        delSingleOrderBtn.value='刪除';
        orderDelete.appendChild(delSingleOrderBtn);

        orderTableRow.appendChild(orderId);
        orderTableRow.appendChild(orderPerson);
        orderTableRow.appendChild(orderAddress);
        orderTableRow.appendChild(orderEmail);
        orderTableRow.appendChild(orderContent);
        orderTableRow.appendChild(orderDate);
        orderTableRow.appendChild(orderStatus);
        orderTableRow.appendChild(orderDelete);
        orderTableBody.appendChild(orderTableRow);
      }

      //c3 chart
      const renderChart=(data,format)=>{
        let chartData=format(data);
        const chart = c3.generate({
          bindto: '#chart',
          color:{
            pattern: ["#DACBFF", "#9D7FEA", "#5434A7", "#301E5F", "#C3A5FF", "#8465D6", "#482B91", "#271A4F"]
          },
          data: {
            type:'pie',
            columns: chartData
          }
        });
      }
      //監聽
      const discardAllBtn=document.querySelector('.discardAllBtn');
      discardAllBtn.addEventListener('click',e=>{
        e.preventDefault();
        deleteAll();
      })

      orderTableBody.addEventListener('click',e=>{
        e.preventDefault();
        let clickTarget=e.target;
        let tableRow=clickTarget.closest('tr');
        if(clickTarget.classList.contains('delSingleOrder-Btn')){
          deleteOrder(tableRow.dataset.id);
        }
        if(clickTarget.classList.contains('orderStatusBtn')){
          updateOrder(tableRow.dataset.id);
        }
      })

      const chartToggleBtn=document.querySelector('#chartToggleBtn');
      const chartTitle=document.querySelector('.section-title h2');
      chartToggleBtn.addEventListener('click',()=>{
        let chartType=['products','category'];
        let title=['全品項營收比重','全產品類別營收比重'];
        let currentType=chartTitle.dataset.chart;
        if(currentType===chartType[0]){
          chartTitle.dataset.chart=chartType[1];
          chartTitle.textContent=title[1];
          renderChart(ordersData,formatProductCategory);
        }else if(currentType===chartType[1]){
          chartTitle.dataset.chart=chartType[0];
          chartTitle.textContent=title[0];
          renderChart(ordersData,formatProduct);
        }
      })

      init();
    </script>
  </body>
</html>
